.home-container {
    display: flex;
    justify-content: center;
    position: relative; /* 부모 요소를 상대적으로 위치시킴 */
}

.board-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute; /* 절대적인 위치 지정 */
    left: 50%; /* 부모 요소의 중앙에서부터 위치시킴 */
    transform: translateX(-50%); /* 수평 중앙 정렬 */
}

.side-box {
    width: 200px;
    height: 300px;
    position: absolute;
    right: 20px;
    top: 10%;
    transform: translateY(-50%);
    z-index: 1; /* 다른 요소 위에 표시되도록 설정 */
}
