.join-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    margin: 50px auto;
    transform: translate(-50%, -55%);
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .join-box p:first-child {
    margin: 0 0 30px;
    padding: 0;
    color: #95d5b2;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .join-box .user-box {
    position: relative;
  }
  
  .join-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #95d5b2;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #95d5b2;
    outline: none;
    background: transparent;
  }
  
  .join-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #95d5b2;
    pointer-events: none;
    transition: .5s;
  }
  
  .join-box .user-box input:focus ~ label,
  .join-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #95d5b2;
    font-size: 12px;
  }
  
  .join-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    color: #95d5b2;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 3px
  }
  
  .join-box a:hover {
    background: #95d5b2;
    color: #272727;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .join-box a span {
    position: absolute;
    display: block;
  }
  
  .join-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #95d5b2);
    animation: btn-anim1 1.5s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .join-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #95d5b2);
    animation: btn-anim2 1.5s linear infinite;
    animation-delay: .375s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
  
    50%,100% {
      top: 100%;
    }
  }
  
  .join-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #95d5b2);
    animation: btn-anim3 1.5s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
  
    50%,100% {
      right: 100%;
    }
  }
  
  .join-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #95d5b2);
    animation: btn-anim4 1.5s linear infinite;
    animation-delay: 1.125s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
  
    50%,100% {
      bottom: 100%;
    }
  }
  
  .join-box p:last-child {
    color: #aaa;
    font-size: 14px;
  }
  
  .join-box a.a2 {
    color: #95d5b2;
    text-decoration: none;
  }
  
  .join-box a.a2:hover {
    background: transparent;
    color: #aaa;
    border-radius: 5px;
  }



  /* 모달창 */
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff; /* 흰 배경 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.5); /* 투명한 회색 배경 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-inner {
    text-align: center;
    color: #333; /* 텍스트 색상 */
}

.modal button {
    background-color: #007bff; /* 버튼 배경색 */
    color: #fff; /* 버튼 텍스트 색상 */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.modal button:hover {
    background-color: #0056b3; /* 호버시 색상 변경 */
}
