.input-area {
    align-items: center;
    background-color: #f2f2f2;
    bottom: 0;
    display: flex;
    left: 50vw;
    padding: 8px 21px;
    position: fixed;
}

.plus-button {
  background-color: lightslategray;
  width: 40px;
  height: 40px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 24px;
  border-radius: 50%;
}

.input-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.input-container input {
  flex: 1;
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin: 0 10px;
  width: 15vw;
}

.send-button {
  min-width: 70px;
  padding: 10px;
  border-radius: 20px;
  background-color: #F2A2A9;
  color: #fff;
  border: none;
  cursor: pointer;
}

.send-button:hover {
  background-color: #FFF4F4;
}
