.navbar {
    background-color: #333;
    padding: 10px 20px;
  }
  
  .navbar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar-item {
    display: inline-block;
    margin-right: 20px;
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }

  input,div {
    box-sizing: border-box;
  }
  .form-box {
    background : white;
    padding : 25px;
    margin: 20px;
    border-radius: 8px;
  }
  .form-box input {
    padding : 10px;
    font-size: 16px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .form-box button {
    padding: 10px;
    border : none;
    background : lightgrey;
    border-radius: 5px;
  }